<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
					<string>com.googleusercontent.apps.938361844013-2ik558sn1qgui650jmftsoiq3r4g0lt0</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
	</array>
	<key>GIDClientID</key>
		<string>938361844013-2ik558sn1qgui650jmftsoiq3r4g0lt0.apps.googleusercontent.com</string>
</dict>
</plist>
